@import "styles-variables";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: $body-background }
mat-card{border-radius: $card-border-radius;}
button{border-radius: $button-border-radius;}
